In [1]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
movies=pd.read_csv('D:\\excler\\Assignment\\Association Rules\\my_movies.csv')

In [3]:
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [5]:
df=pd.get_dummies(movies)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [18]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...
1393      0.1  (V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...
1394      0.1  (V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...
1395      0.1  (V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...
1396      0.1  (V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...

[1397 rows x 2 columns]

In [19]:
rules = association_rules(frequent_itemsets,  min_threshold=0.20)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.8
3,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.8
4,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2

In [20]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
31654,"(V4_Green Mile, LOTR1, Harry Potter1, V1_Sixth...","(Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41581,"(V5_LOTR2, LOTR1, LOTR2)","(Green Mile, V1_Sixth Sense, Harry Potter1, V3...",0.1,0.1,0.1,1.0,10.0,0.09,inf
41569,"(Green Mile, V1_Sixth Sense, LOTR1, LOTR2)","(V3_Harry Potter1, Harry Potter1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41570,"(Green Mile, V3_Harry Potter1, LOTR1, LOTR2)","(V1_Sixth Sense, Harry Potter1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41571,"(V3_Harry Potter1, V1_Sixth Sense, LOTR1, LOTR2)","(Green Mile, Harry Potter1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41572,"(Green Mile, V1_Sixth Sense, Harry Potter1, LO...","(V3_Harry Potter1, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41573,"(Green Mile, Harry Potter1, LOTR1, V3_Harry Po...","(V1_Sixth Sense, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41574,"(V3_Harry Potter1, V1_Sixth Sense, Harry Potte...","(Green Mile, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41575,"(Green Mile, V1_Sixth Sense, LOTR1, V3_Harry P...","(Harry Potter1, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41576,"(Green Mile, V1_Sixth Sense, Harry Potter1, LO...","(V3_Harry Potter1, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41577,"(Green Mile, V3_Harry Potter1, Harry Potter1, ...","(V1_Sixth Sense, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41578,"(V3_Harry Potter1, V1_Sixth Sense, Harry Potte...","(Green Mile, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41579,"(Green Mile, V3_Harry Potter1, V1_Sixth Sense,...","(Harry Potter1, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41580,"(Green Mile, V1_Sixth Sense, Harry Potter1, V3...","(V5_LOTR2, LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41582,"(Harry Potter1, V5_LOTR2, LOTR1)","(Green Mile, V3_Harry Potter1, V1_Sixth Sense,...",0.1,0.1,0.1,1.0,10.0,0.09,inf
41671,"(LOTR2, Harry Potter1, Green Mile, V1_Sixth Se...","(V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
41583,"(Green Mile, V5_LOTR2, LOTR1)","(V3_Harry Potter1, V1_Sixth Sense, Harry Potte...",0.1,0.1,0.1,1.0,10.0,0.09,inf
41584,"(V1_Sixth Sense, V5_LOTR2, LOTR1)","(Green Mile, V3_Harry Potter1, Harry Potter1, ...",0.1,0.1,0.1,1.0,10.0,0.09,inf
41585,"(V3_Harry Potter1, V5_LOTR2, LOTR1)","(Green Mile, V1_Sixth Sense, Harry Potter1, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
41586,"(Harry Potter1, V5_LOTR2, LOTR2)","(Green Mile, V1_Sixth Sense, LOTR1, V3_Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [24]:
rules[rules.lift>2]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
41,(Harry Potter1),(LOTR1),0.2,0.2,0.1,0.5,2.5,0.06,1.6
42,(LOTR1),(Harry Potter1),0.2,0.2,0.1,0.5,2.5,0.06,1.6
43,(LOTR1),(LOTR2),0.2,0.2,0.2,1.0,5.0,0.16,inf
44,(LOTR2),(LOTR1),0.2,0.2,0.2,1.0,5.0,0.16,inf
45,(Green Mile),(LOTR1),0.2,0.2,0.1,0.5,2.5,0.06,1.6
...,...,...,...,...,...,...,...,...,...
63303,(LOTR2),"(V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...",0.2,0.1,0.1,0.5,5.0,0.08,1.8
63304,(Harry Potter1),"(V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...",0.2,0.1,0.1,0.5,5.0,0.08,1.8
63305,(Green Mile),"(V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...",0.2,0.1,0.1,0.5,5.0,0.08,1.8
63306,(V1_Sixth Sense),"(V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...",0.2,0.1,0.1,0.5,5.0,0.08,1.8
63307,(V2_LOTR1),"(V3_Harry Potter1, V5_LOTR2, V4_Green Mile, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf